  <footer class="text-center jd-footer-visitor text-white-50 pt-3 mt-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p>Médecine du monde</p>
                    </div>
                    
                    <div class="col-md-4">
                        <p>Steve PK</p>
                    </div>

                    <div class="col-md-4">
                        <p>Créé avec <span class="jd-footer-heart">&#9829;</span> par dwwm8b</p>
                    </div>
                </div>
            </div>
        </footer>