{% extends "themes/base_visitor.html.twig" %}

{% block title %} - En attente de la Vérification du compte par email{% endblock %}

{% block description %} - En attente de la vérification du compte par email{% endblock %}

{% block main %}
    <div class="container bg-white shadow p-4 text-center mt-5">
    <h1 class="display-6 mt-4">En attente de la vérification du compte...</h1>
    <p>Un email vous a été envoyé, veuillez consulter votre boite mail.</p>
    </div>
{% endblock %}