<h1>Hi!</h1>

<p>Pour réinitialiser votre mot de passe, veuillez cliquer le lien suivant</p>

<a href="{{ url('visitor.authentication.reset_password', {token: resetToken.token}) }}">{{ url('visitor.authentication.reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>À votre santé!</p>
